$sm-width: 768px;
$md-width: 1199px;

$disableColorSemitransparent: rgba(179, 179, 179, 0.502);
$disableColor: rgb(179, 179, 179);
$disableFooterFontColor: rgb(255, 255, 102);
$disabledWeightBackColor: rgb(179, 179, 179);

$nonSelectedColor: rgb(102, 102, 102);
$nonSelectedFooterFontColor: rgb(255, 255, 255);
$nonSelectedWeightBackColor: rgb(22, 152, 217);

$selectedColorSemitransparent: rgb(102, 102, 102);
$selectedColor: rgb(0, 0, 0);
$selectedFooterFontColor: rgb(255, 255, 255);
$selectedWeightBackColor: rgb(217, 22, 103);

@mixin product-weight-cyrcle {
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    font-size: 41px;
    line-height: 30px;
    display: inline-block;
    position: absolute !important;
    left: 5.5em !important;
    top: 8.8em;
}

@mixin product-bgimage-position {
    background-repeat: no-repeat;
    height: 480px;
    background-position: center;
    position: relative;
}

body {
    background-image: url('../images/Pattern.png');
    .header {
        margin-top: 0.8em;
        color: white;
    }
    main {
        .container {
            max-width: 1194px !important;
            .items {
                @media screen and(min-width: $sm-width) {
                    div:last-child {
                        position: relative !important;
                        left: 25% !important;
                    }
                }
                @media screen and(min-width: $md-width) {
                    div:last-child {
                        position: relative !important;
                        left: 0 !important;
                    }
                }

                .product-non-selected {
                    .product-img-non-selected {
                        &:hover {
                            cursor: pointer;
                        }
                        background-image: url('../images/Back.png');
                        @include product-bgimage-position();
                        
                        .product-tagline-non-selected{
                            color: $nonSelectedColor;
                            line-height: 1.2;
                            position: relative;
                            left: 0em;
                            font-size: 16px;
                            font-family: 'Trebuchet MS';
                        }

                        .product-name-non-selected {
                            color: rgb(0, 0, 0);
                            font-family: 'Trebuchet MS';
                            font-size: 48px;
                            font-weight: bold;
                            line-height: 1.2;
                        }

                        .product-with-what-non-selected{
                            font-size: 24px;
                            font-family: "Trebuchet MS";
                            color: rgb(0, 0, 0);
                            font-weight: bold;
                            line-height: 1.2;
                        }

                        .product-dose-non-selected,
                        .product-present-non-selected,
                        .product-customer-satisfied-non-selected
                        {
                            font-size: 14px;
                            font-family: "Trebuchet MS";
                            color: rgb(102, 102, 102);
                            font-weight: bold;
                            line-height: 1.143;
                        }

                        .product-present-non-selected{
                            
                        }

                        .product-customer-satisfied-non-selected {
                            
                        }

                        .product-weight-non-selected {
                            background-color: $nonSelectedWeightBackColor;
                            @include product-weight-cyrcle();
                        }
                    }
                    .product-footer-non-selected {
                        font-size: 13px;
                        font-family: "Trebuchet MS";
                        color: rgb(255, 255, 255);
                        line-height: 1.231;
                        text-align: center;
                        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
                        span {
                            color: deepskyblue;
                            text-decoration: underline;
                            text-decoration-style: dashed;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .product-is-selected {
                    .product-img-is-selected {
                        &:hover {
                            cursor: pointer;
                        }
                        background-image: url('../images/SelectedBack.png');
                        @include product-bgimage-position();
                        
                        .product-tagline-is-selected{

                        }

                        .product-name-is-selected{
                            
                        }

                        .product-with-what-is-selected{
                            
                        }

                        .product-dose-is-selected{
                            
                        }

                        .product-present-is-selected{
                            
                        }

                        .product-customer-satisfied-is-selected{
                            
                        }

                        .product-weight-is-selected {
                            background-color: $selectedWeightBackColor;
                            @include product-weight-cyrcle();
                        }                        
                    }
                    .product-footer-is-selected{
                        font-size: 13px;
                        font-family: "Trebuchet MS";
                        color: rgb(255, 255, 255);
                        line-height: 1.231;
                        text-align: center;
                        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);  
                    }
                }

                .product-is-disabled {
                    .product-img-is-disabled {
                        &:hover {
                            cursor: pointer;
                        }
                        background-image: url('../images/DisabledBack.png');
                        @include product-bgimage-position();
                        
                        .product-tagline-is-disabled{

                        }

                        .product-name-is-disabled{
                            
                        }

                        .product-with-what-is-disabled{
                            
                        }

                        .product-dose-is-disabled{
                            
                        }

                        .product-present-is-disabled{
                            
                        }

                        .product-customer-satisfied-is-disabled{
                            
                        }

                        .product-weight-is-disabled {
                            background-color: $disableColor;
                            @include product-weight-cyrcle();
                        }                        
                    }

                    .product-footer-is-disabled {
                        font-size: 13px;
                        font-family: "Trebuchet MS";
                        color: rgb(255, 255, 102);
                        line-height: 1.231;
                        text-align: center;
                        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
                    }
                }
            }
        }
    }
}